<tr id="<%= dom_id payment_request %>">
  <td>
    <%= number_to_currency(payment_request.amount,
                           unit: Money::Currency.new(payment_request.currency_code).symbol)  %>
  </td>
  <td>
    <%= payment_request.description.truncate(25, omission: '...') %>
  </td>
  <td>
    <%= payment_request.created_at.to_fs(:long) %>
  </td>
  <td>
    <i>
      <% if payment_request.pending? %>
        <%= button_to "Accept", payment_request_accept_path(payment_request), form: {style: 'display:inline-block;'} %>
        <%= button_to "Reject", payment_request_reject_path(payment_request), form: {style: 'display:inline-block;'} %>
      <% else %>
        <%= payment_request.status %>
      <% end %>
    </i>
  </td>
</tr>
